Repository CloudGeometry/cg-devx-wl-gitops-template: changes, and which Atlantis projects are due for each by the changed paths.
All: terraform/infrastructure, terraform/secrets

atlantis.yaml:

version: 3
automerge: true
projects:
  - dir: terraform/infrastructure
    terraform_version: 1.3.8
    autoplan:
      enabled: true
      when_modified: ['**/*.tf', '\!terraform/infrastructure/samples/', '*.tf*']
    execution_order_group: 1
  - dir: terraform/secrets
    terraform_version: 1.3.8
    autoplan:
      enabled: true
      when_modified: ['**/*.tf', '*.tf*']
    execution_order_group: 2

gitops kustomuze changes
  .github/terraform.yaml
  gitops/environments/base/deployment.yaml
  gitops/environments/base/service.yaml
  gitops/environments/base/serviceaccount.yaml
  gitops/environments/envs/dev/deployment.yaml
  gitops/environments/envs/dev/external-secrets.yaml
  gitops/environments/envs/dev/ingress.yaml
  gitops/environments/envs/dev/kustomization.yaml
  gitops/environments/envs/dev/kustomizeconfig/skip-cm-suffix.yaml
  gitops/environments/envs/dev/settings.yaml
  gitops/environments/envs/dev/version.yaml
  gitops/environments/envs/prod/deployment.yaml
  gitops/environments/envs/prod/external-secrets.yaml
  gitops/environments/envs/prod/ingress.yaml
  gitops/environments/envs/prod/kustomization.yaml
  gitops/environments/envs/prod/kustomizeconfig/skip-cm-suffix.yaml
  gitops/environments/envs/prod/settings.yaml
  gitops/environments/envs/prod/version.yaml
  gitops/environments/envs/sta/deployment.yaml
  gitops/environments/envs/sta/external-secrets.yaml
  gitops/environments/envs/sta/ingress.yaml
  gitops/environments/envs/sta/kustomization.yaml
  gitops/environments/envs/sta/kustomizeconfig/skip-cm-suffix.yaml
  gitops/environments/envs/sta/settings.yaml
  gitops/environments/envs/sta/version.yaml
  gitops/environments/variants/dev/dev.yaml
  gitops/environments/variants/dev/replicas.yaml
  gitops/environments/variants/dev/settings.yaml
  gitops/environments/variants/prod/prod.yaml
  gitops/environments/variants/prod/replicas.yaml
  gitops/environments/variants/prod/settings.yaml
  gitops/environments/variants/uat/replicas.yaml
  gitops/environments/variants/uat/settings.yaml
  gitops/environments/variants/uat/uat.yaml
  gitops/workload.yaml
Due: none

gitops kustomuze changes (#1)
  .github/terraform.yaml
  gitops/environments/base/deployment.yaml
  gitops/environments/base/service.yaml
  gitops/environments/base/serviceaccount.yaml
  gitops/environments/envs/dev/deployment.yaml
  gitops/environments/envs/dev/external-secrets.yaml
  gitops/environments/envs/dev/ingress.yaml
  gitops/environments/envs/dev/kustomization.yaml
  gitops/environments/envs/dev/kustomizeconfig/skip-cm-suffix.yaml
  gitops/environments/envs/dev/settings.yaml
  gitops/environments/envs/dev/version.yaml
  gitops/environments/envs/prod/deployment.yaml
  gitops/environments/envs/prod/external-secrets.yaml
  gitops/environments/envs/prod/ingress.yaml
  gitops/environments/envs/prod/kustomization.yaml
  gitops/environments/envs/prod/kustomizeconfig/skip-cm-suffix.yaml
  gitops/environments/envs/prod/settings.yaml
  gitops/environments/envs/prod/version.yaml
  gitops/environments/envs/sta/deployment.yaml
  gitops/environments/envs/sta/external-secrets.yaml
  gitops/environments/envs/sta/ingress.yaml
  gitops/environments/envs/sta/kustomization.yaml
  gitops/environments/envs/sta/kustomizeconfig/skip-cm-suffix.yaml
  gitops/environments/envs/sta/settings.yaml
  gitops/environments/envs/sta/version.yaml
  gitops/environments/variants/dev/dev.yaml
  gitops/environments/variants/dev/replicas.yaml
  gitops/environments/variants/dev/settings.yaml
  gitops/environments/variants/prod/prod.yaml
  gitops/environments/variants/prod/replicas.yaml
  gitops/environments/variants/prod/settings.yaml
  gitops/environments/variants/uat/replicas.yaml
  gitops/environments/variants/uat/settings.yaml
  gitops/environments/variants/uat/uat.yaml
  gitops/workload.yaml
Due: none

feat: gitops kustomize changes
  .github/terraform.yaml
  gitops/environments/base/deployment.yaml
  gitops/environments/base/service.yaml
  gitops/environments/base/serviceaccount.yaml
  gitops/environments/envs/dev/deployment.yaml
  gitops/environments/envs/dev/external-secrets.yaml
  gitops/environments/envs/dev/ingress.yaml
  gitops/environments/envs/dev/kustomization.yaml
  gitops/environments/envs/dev/kustomizeconfig/skip-cm-suffix.yaml
  gitops/environments/envs/dev/settings.yaml
  gitops/environments/envs/dev/version.yaml
  gitops/environments/envs/prod/deployment.yaml
  gitops/environments/envs/prod/external-secrets.yaml
  gitops/environments/envs/prod/ingress.yaml
  gitops/environments/envs/prod/kustomization.yaml
  gitops/environments/envs/prod/kustomizeconfig/skip-cm-suffix.yaml
  gitops/environments/envs/prod/settings.yaml
  gitops/environments/envs/prod/version.yaml
  gitops/environments/envs/sta/deployment.yaml
  gitops/environments/envs/sta/external-secrets.yaml
  gitops/environments/envs/sta/ingress.yaml
  gitops/environments/envs/sta/kustomization.yaml
  gitops/environments/envs/sta/kustomizeconfig/skip-cm-suffix.yaml
  gitops/environments/envs/sta/settings.yaml
  gitops/environments/envs/sta/version.yaml
  gitops/environments/variants/dev/dev.yaml
  gitops/environments/variants/dev/replicas.yaml
  gitops/environments/variants/dev/settings.yaml
  gitops/environments/variants/prod/prod.yaml
  gitops/environments/variants/prod/replicas.yaml
  gitops/environments/variants/prod/settings.yaml
  gitops/environments/variants/uat/replicas.yaml
  gitops/environments/variants/uat/settings.yaml
  gitops/environments/variants/uat/uat.yaml
  gitops/workload.yaml
Due: none

feat: templating adjustments
  gitops/environments/base/deployment.yaml
  gitops/environments/base/service.yaml
  gitops/environments/envs/dev/version.yaml
  gitops/environments/envs/prod/version.yaml
  gitops/environments/envs/sta/version.yaml
Due: none

feat: updated templates
  gitops/environments/base/deployment.yaml
  gitops/environments/base/service.yaml
  gitops/environments/envs/dev/deployment.yaml
  gitops/environments/envs/dev/external-secrets.yaml
  gitops/environments/envs/dev/ingress.yaml
  gitops/environments/envs/dev/version.yaml
  gitops/environments/envs/prod/deployment.yaml
  gitops/environments/envs/prod/external-secrets.yaml
  gitops/environments/envs/prod/version.yaml
  gitops/environments/envs/sta/deployment.yaml
  gitops/environments/envs/sta/external-secrets.yaml
  gitops/environments/envs/sta/ingress.yaml
  gitops/environments/envs/sta/version.yaml
  terraform/infrastructure/samples/aws/s3_versioned.tf
  terraform/secrets/secrets.tf
Due: terraform/infrastructure, terraform/secrets

fix: secret management to match template
  terraform/secrets/secrets.tf
Due: terraform/secrets

docs: fix typos
  gitops/environments/envs/dev/ingress.yaml
  gitops/environments/envs/sta/ingress.yaml
Due: none

feat: add default cm and secrets mapping
  gitops/environments/envs/dev/deployment.yaml
  gitops/environments/envs/prod/deployment.yaml
  gitops/environments/envs/sta/deployment.yaml
Due: none

drop suffix transformation
  gitops/environments/envs/dev/ingress.yaml
  gitops/environments/envs/dev/kustomization.yaml
  gitops/environments/envs/dev/kustomizeconfig/skip-cm-suffix.yaml
  gitops/environments/envs/prod/ingress.yaml
  gitops/environments/envs/prod/kustomization.yaml
  gitops/environments/envs/prod/kustomizeconfig/skip-cm-suffix.yaml
  gitops/environments/envs/sta/ingress.yaml
  gitops/environments/envs/sta/kustomization.yaml
  gitops/environments/envs/sta/kustomizeconfig/skip-cm-suffix.yaml
Due: none

move envFrom to base deployment definition
  gitops/environments/base/deployment.yaml
  gitops/environments/envs/dev/deployment.yaml
  gitops/environments/envs/prod/deployment.yaml
  gitops/environments/envs/sta/deployment.yaml
Due: none

feat: drop namespace suffix transformation
  gitops/environments/base/deployment.yaml
  gitops/environments/envs/dev/ingress.yaml
  gitops/environments/envs/dev/kustomization.yaml
  gitops/environments/envs/dev/kustomizeconfig/skip-cm-suffix.yaml
  gitops/environments/envs/prod/ingress.yaml
  gitops/environments/envs/prod/kustomization.yaml
  gitops/environments/envs/prod/kustomizeconfig/skip-cm-suffix.yaml
  gitops/environments/envs/sta/ingress.yaml
  gitops/environments/envs/sta/kustomization.yaml
  gitops/environments/envs/sta/kustomizeconfig/skip-cm-suffix.yaml
Due: none

feat: set default tags using locals
  terraform/infrastructure/main.tf
Due: terraform/infrastructure

feat: add docker-config, imagePullSecrets, and reloader
  gitops/environments/base/deployment.yaml
  gitops/environments/base/external-secrets-dockerconfig.yaml
  gitops/environments/base/kustomization.yaml
  gitops/environments/envs/dev/kustomization.yaml
  gitops/environments/envs/prod/kustomization.yaml
  gitops/environments/envs/sta/kustomization.yaml
  gitops/environments/variants/dev/kustomization.yaml
  gitops/environments/variants/prod/kustomization.yaml
  gitops/environments/variants/uat/kustomization.yaml
Due: none

feat: add promotion gha
  .github/workflows/promote.yaml
Due: none

feat: promotion wf
  .argo/.placeholder
  .argo/promote-wf.yaml
  .github/terraform.yaml
  .github/workflows/promote.yaml
  .github/workflows/promote_gha_only.yaml_gha
Due: none

feat: added role templates
  terraform/infrastructure/samples/aws/irsa_role.tf
  terraform/infrastructure/samples/azure/.placeholder
  terraform/infrastructure/samples/azure/managed_identity.tf
  terraform/secrets/secrets.tf
Due: terraform/infrastructure, terraform/secrets

docs: add license and code of conduct
  CODE_OF_CONDUCT.md
  LICENSE
Due: none

add S3 and RDS
  terraform/infrastructure/samples/aws/data.tf
  terraform/infrastructure/samples/aws/rds_mysql.tf
  terraform/infrastructure/samples/aws/s3_versioned.tf
Due: terraform/infrastructure

change db_name and username
  terraform/infrastructure/samples/aws/rds_mysql.tf
Due: terraform/infrastructure

add postgresql
  terraform/infrastructure/samples/aws/rds_postgresql.tf
Due: terraform/infrastructure

add sns
  terraform/infrastructure/samples/aws/sns.tf
Due: terraform/infrastructure

fix comment
  terraform/infrastructure/samples/aws/sns.tf
Due: terraform/infrastructure

fixed region
  terraform/infrastructure/samples/aws/data.tf
Due: terraform/infrastructure

update sns
  terraform/infrastructure/samples/aws/sns.tf
Due: terraform/infrastructure

add elasticache
  terraform/infrastructure/samples/aws/elasticache.tf
Due: terraform/infrastructure

add comment for mysql
  terraform/infrastructure/samples/aws/rds_mysql.tf
Due: terraform/infrastructure

feat: Definitions for Argo Workflows RBAC
  .argo/promote-wf.yaml
  gitops/environments/base/deployment.yaml
  gitops/environments/base/external-secrets-dockerconfig-wl.yaml
  gitops/environments/base/kustomization.yaml
  gitops/environments/base/service.yaml
  gitops/environments/envs/dev/argo-workflow-controller-secret-reader-wl.yaml
  gitops/environments/envs/dev/argo-workflow-cwft-wl-crb.yaml
  gitops/environments/envs/dev/cm.yaml
  gitops/environments/envs/dev/deployment.yaml
  gitops/environments/envs/dev/external-secrets-wl.yaml
  gitops/environments/envs/dev/external-secrets.yaml
  gitops/environments/envs/dev/ingress.yaml
  gitops/environments/envs/dev/kustomization.yaml
  gitops/environments/envs/dev/serviceaccount-argo-workflow-wl.yaml
  gitops/environments/envs/dev/serviceaccount-wl.yaml
  gitops/environments/envs/dev/serviceaccount.yaml
  gitops/environments/envs/dev/settings.yaml
  gitops/environments/envs/dev/version.yaml
Due: none

fix: deployment.yaml fix: serviceaccount.yaml
  gitops/environments/base/deployment.yaml
  gitops/environments/base/serviceaccount.yaml
Due: none

fix: remove oidc creds from wl secret
  gitops/environments/envs/dev/external-secrets-wl.yaml
Due: none

fix: remove unnecessary secrets from wl
  gitops/environments/envs/dev/external-secrets-wl.yaml
Due: none

fix: remove duplicated serviceaccount.yaml from dev
  gitops/environments/envs/dev/serviceaccount.yaml
Due: none

feat: secrets rename according to new secrets/permissions structure
  gitops/environments/envs/dev/external-secrets-wl.yaml
Due: none

fix: secret name in promote-wf
  .argo/promote-wf.yaml
Due: none

feat: Definitions for Argo Workflows RBAC (#4)
  .argo/promote-wf.yaml
  gitops/environments/base/deployment.yaml
  gitops/environments/base/external-secrets-dockerconfig-wl.yaml
  gitops/environments/base/kustomization.yaml
  gitops/environments/base/service.yaml
  gitops/environments/base/serviceaccount.yaml
  gitops/environments/envs/dev/argo-workflow-controller-secret-reader-wl.yaml
  gitops/environments/envs/dev/argo-workflow-cwft-wl-crb.yaml
  gitops/environments/envs/dev/cm.yaml
  gitops/environments/envs/dev/deployment.yaml
  gitops/environments/envs/dev/external-secrets-wl.yaml
  gitops/environments/envs/dev/external-secrets.yaml
  gitops/environments/envs/dev/ingress.yaml
  gitops/environments/envs/dev/kustomization.yaml
  gitops/environments/envs/dev/serviceaccount-argo-workflow-wl.yaml
  gitops/environments/envs/dev/serviceaccount-wl.yaml
  gitops/environments/envs/dev/settings.yaml
  gitops/environments/envs/dev/version.yaml
Due: none

update parameters for cluster additional security group
  terraform/infrastructure/samples/aws/data.tf
Due: terraform/infrastructure

feat: add AWS snippets (#3)
  terraform/infrastructure/samples/aws/data.tf
  terraform/infrastructure/samples/aws/elasticache.tf
  terraform/infrastructure/samples/aws/rds_mysql.tf
  terraform/infrastructure/samples/aws/rds_postgresql.tf
  terraform/infrastructure/samples/aws/s3_versioned.tf
  terraform/infrastructure/samples/aws/sns.tf
Due: terraform/infrastructure

fix: argo workflow ci iam role
  .argo/promote-wf.yaml
  .github/workflows/promote.yaml
  gitops/environments/envs/dev/serviceaccount-argo-workflow-wl.yaml
Due: none

terraform from parameter in atlantis.yaml
  atlantis.yaml
Due: none
